<section class="new-training" fxLayout fxLayoutAlign="center">
    <form [formGroup]="newTrainingForm" (ngSubmit)="onStartingTraining()">
        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>

            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="!isLoading && exercises" appearance="legacy">
                    <mat-select placeholder="Select type of training" formControlName="exercise">
                        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                            {{ exercise.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Select an exercise!</mat-error>
                </mat-form-field>

                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </mat-card-content>

            <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
                <button *ngIf="exercises" mat-raised-button color="primary" type="submit"
                    [disabled]="newTrainingForm.invalid">Start</button>
                <button *ngIf="!exercises" mat-raised-button color="primary" type="button"
                    (click)="fecthExercises()">Fecth Again</button>

            </mat-card-actions>

        </mat-card>
    </form>
</section>